@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  section {
    padding-left: 3rem;

    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  section {
    margin-bottom: 8rem;

    padding-left: 0px;

    padding-right: 0px;

    width: 83.333333%;
  }
}

@media (min-width: 1280px) {
  section {
    width: 58.333333%;
  }
}

section h1:first-child {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  section h1:first-child {
    font-size: 3.75rem;

    line-height: 1;

    margin-bottom: 2rem;
  }
}

section h1:first-child span {
  --tw-bg-opacity: 1;
  background-color: rgba(20, 41, 69, var(--tw-bg-opacity));
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}

.footer-link {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
